<!DOCTYPE html>
<html>

<head>
  <!-- HTML5 enabled (see scripts.js) complained without a base. Removing this
       base, HTML5 requires 'requireBase = true'  but that did't work either.
       So, include the base tag here and enable 'requireBase' to be true. -->
  <base href="/public">
  <link rel="stylesheet" href="animations.css">
</head>

<body ng-app="app">
  <div ng-controller="MainCtrl as main">
    Choose:
    <a href="Book/Moby">Moby</a> |
    <a href="Book/Moby/ch/1">Moby: Ch1</a> |
    <a href="Book/Gatsby">Gatsby</a> |
    <a href="Book/Gatsby/ch/4?key=value">Gatsby: Ch4</a> |
    <a href="Book/Scarlet">Scarlet Letter</a><br/>
    <div class="view-animate-container">
      <div ng-view class="view-animate"></div>
    </div>
    <hr />
    <pre>$location.path() = {{main.$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{main.$route.current.params}}</pre>
    <pre>$routeParams = {{main.$routeParams}}</pre>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="scripts.js"></script>
</body>

</html>